.uael-table-wrapper {
	overflow-x: auto;
}
.uael-table {
	border-spacing: 0;
	margin: 0px;
	table-layout: auto;
}
.uael-table {
	border-collapse: collapse;
}
.uael-advance-heading {
	-js-display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.uael-entries-box, .uael-search-table {
	height: auto;
	margin-left: 10px;
}
.uael-tbl-search-wrapper, .uael-tbl-entry-wrapper {
	-js-display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.uael-search-table {
	background-position: 10px 10px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
}
.uael-table-row .uael-table-col {
	vertical-align: middle;
}
.uael-table__text-inner {
	display: inline-block;
}
.uael-align-icon--left {
	margin-right: 12px;
	display: inline-block;
}
.uael-align-icon--right {
	-ms-flex-order: 3;
	-webkit-box-ordinal-group: 4;
	-webkit-order: 3;
	-moz-box-ordinal-group: 4;
	order: 3;
	margin-left: 12px;
	display: inline-block;
}
.uael-col-img--left {
	margin-right: 12px;
	display: inline-block;
	vertical-align: middle;
}
.uael-col-img--right {
	-ms-flex-order: 2;
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	-moz-box-ordinal-group: 3;
	order: 2;
	margin-left: 12px;
	display: inline-block;
	vertical-align: middle;
}
.uael-sort-icon {
	float: right;
	margin-left: 5px;
}
td .uael-table__text {
	display: inline-block;

}
th .uael-table__text {
	display: inline-block;
}
tr.uael-table-row td {
	border-bottom: 1px solid #eee;
}
tr.uael-table-row th {
	border-bottom: none;
}

@media (max-width: 767px) {

	.uael-table--responsive .uael-table-row .uael-table-col {
		display: block;
		width: 100%;
	}
	.uael-table--responsive .uael-table {
		border-spacing: 0;
		margin: 0px;
		table-layout: auto;
	}
	.uael-table--responsive .uael-advance-heading {
		-js-display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.uael-advance-heading label,
	.uael-advance-heading select,
	.uael-advance-heading input,
	.uael-advance-heading div {
		display: block;
		width: 100% !important;
	}

	.uael-entries-box, .uael-search-table {
		margin: 0;
		margin-top: 10px;
	}

}

/* Responsive CSS Ends */

.hide-entry, .hide-lbl-entry {
	display: none;
}
.show-entry, .show-lbl-entry {
	display: block;
}
span.sort-style {
	-js-display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.uael-table-col {
	border: none;
}
